
//
// VARIABLES
//

// Colors
$darkGrey: #272822;
$white: #f8f8f2;
$grey: #75715e;
$pink: #f92672;
$green: #a6e22e;
$orange: #f4bf75;
$blue: #66d9ef;
$purple: #ae81ff;
$seafoam: #a1efe4;

$black: #000000;


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
